h1 {
    color: #015b72;
}

/* Maksud * adalah Global Selector */

* {
    font-family: sans-serif;
    color: darkslategrey;
    box-sizing: border-box;
}

#welcome {
    color: #720101;
}


.text-black {
    color: black;
}

.text-italic {
    font-style: italic;
}

.card {
    border: 2px solid lightslategray;
    /* padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; */
    /* padding: 20px 30px 40px 50px; */
    color: darkcyan;
    /* padding: 16px 32px; */
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 300px;
    height: 300px;
    display: inline-block;
    overflow: scroll;
}

.separator {
    margin-top: 16px;
}

.black-card{
    width: 215px;
    height: 115px;
    color: white;
    background-color: black;
    padding-top: 16px;
    padding-left: 18px;
}

.black-card-title {
    font-size: 9px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}

.black-card-subtitle {
    font-weight: 500;
    font-size: 7px;
    color: white;
    margin-top: 4px;
}